.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___props-box {
  background-color: brown;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}